# Core
pandas
numpy
pyarrow

# ML
scikit-learn
xgboost
torch
tensorflow

# NLP / Embeddings
transformers
datasets
huggingface_hub
sentence-transformers
einops
nltk
defusedxml
regex

# Viz
matplotlib
seaborn

# Notebooks
ipykernel

# Utils
python-dotenv
kaggle
pyprojroot
tqdm